{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block navigation_left %}
    {% if user.is_authenticated %}
        {% include 'recorder/components/recorder-sidebar.html' %}
    {% endif %}
{% endblock %}

{% block main-content %}
<div class="w3-container">
    <div class="w3-margin-top">
        <form method="post", enctype="multipart/form-data">
            {% csrf_token %}
            <div class="w3-card w3-round-large w3-padding">
                <h3 class="w3-panel w3-theme w3-padding w3-round-large">User information</h3>
                {% include "snippets/form_generic.html" with form=form %}
            </div>

            <div class="w3-container w3-padding-16 w3-right-align">
                <a href="javascript:history.back()" class="w3-button w3-white w3-border w3-border-grey w3-round-large w3-margin-right">Cancel</a>
                <button type="submit" class="w3-button w3-theme-dark w3-round-large w3-hover-shadow" style="padding:10px 32px">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
